body {
  font-family: "Raleway", sans-serif;
}

/* Nav */

.banner1 {
  
  margin-left: px;
  outline: 2px solid rgb(57, 137, 91);
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
}


/* Hero Section */

#Hero-Section {
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

/*Acerca de mi*/

#Acerca-de-mi {
  padding-top: px;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
